.btn {
  border: none;
  height: 50px;
  padding: 0 10px;
  color: $btn-color;
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: $btn-back;

  &:hover {
    background: $btn-back-hover;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

  &_2 {
    width: 150px;
    height: 40px;
    background: $btn-2-back;

    &:hover {
      background: $btn-2-back-hover;
    }

    &:active {
      color: $btn-2-color-active;
      background: $btn-2-back-active;
    }
  }

  &_5 {
    display: block;
    width: 188px;
    height: 40px;
    padding: 13px 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #ffcb08;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;

    &:hover{
      background: #ffcb08;
      opacity: 0.7;
    }

    span{
      display: inline-block;
      position: relative;
      margin-left: 23px;
      padding-left: 19px;
      font-size: 14px;

      &:before{
        position: absolute;
        width: 2px;
        height: 31px;
        top: -8px;
        left: 0;
        background: url("../img/ask-question.png") no-repeat center;
        content: "";

      }
    }
  }

}