.paginator{

  &__wrap{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    border-radius: 5px;

    a{
      text-decoration: underline;
      height: 38px !important;
      width: 39px !important;

      &:hover{
        text-decoration: none;
      }
    }

  }

  &__prev{
    border-radius: 5px;
    background: $paginator-prev;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;

    &:hover{
      background: $paginator-hover;
    }
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 40px;
      background: url('../img/icon-btn-prev.png') no-repeat  center;
      background-size: 16px 14px;
      content: "";
    }

  }

  &__next{
    border-radius: 5px;
    background: $paginator-prev;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;

    &:hover{
      background: $paginator-hover;
    }

    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 40px;
      background: url('../img/icon-btn.png') no-repeat  center;
      background-size: 16px 14px;
      content: "";
    }

  }

  a{
     display: inline-block;
     vertical-align: middle;
     position: relative;
     width: 45px;
     height: 40px;
     line-height: 37px;
     color: #8f8f8f;
     text-align: center;
   }

  a.active{
    pointer-events: none;
    text-decoration: none;
  }
}