.promo {
  width: 1300px;
  margin: 0 auto 46px;
}
.promo__item{
  max-width: 1300px;
  height: 352px;
  background-position: center;
  background-size: cover;
}
.promo__content{
  width: 970px;
  padding: 0 15px;
}