.project__item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 31px;
  padding: 25px 15px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  overflow: hidden;
}
.project__img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__content{
  width: 392px;
}
.project__title{
  margin-bottom: 18px!important;
}
.project__title a{
  color: #000;
  text-decoration: underline;
}