.websters-select {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 211px;
  height: 33px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 11px;
  font-size: 14px;
  color: #8f8f8f;

  &_opened {

    .websters-select__arrow:before {
      top: 15px;
      transform: rotate(225deg);
    }

  }

  &__arrow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 23px;
    transform-origin: center;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;

    &:before{
      position: absolute;
      top: 12px;
      left: 0;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      content: '';
      @include duoEvent(transform, top);
    }

  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    right: 20px;
    left: 5px;
    padding: 1px 5px 0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background: $websters-select-popup-back;
    @include main-font1;

    ul {
      z-index: 1;
    }

    li {
      padding: 8px 10px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      @include duoEvent(color, background);

      &:hover {
        color: $websters-select-popup-item-active-color;
        background: $websters-select-popup-item-active-back;
      }

      &.active {
        color: $websters-select-popup-item-active-color !important;
        background: $websters-select-popup-item-active-back !important;
      }

    }

  }

}
